# Résultats de simulation
results/

# Fichiers de sauvegarde éditeur
*.save
*.save.*
*.bak

# Fichiers Eclipse/OMNeT++ IDE
.cproject
.oppbuildspec
.project
.settings/

# Fichiers compilés
out/
*.o
*.so

# Logs
*.log
