# Binaires compilés
out/
iot-wifi
PufIoT

# Fichiers générés automatiquement par opp_msgtool
PufMessages_m.cc
PufMessages_m.h

# Logs
*.log
.cmdenv-log

# Fichier JSON volumineux de nlohmann (bibliothèque externe)
json.hpp
iot-wifi
